/*! custom_content_galerie.css v1.0 | by Raychan | https://github.com/Raychan87/FotoTechnik-Blog */
.container-article-galerie { /* Artikel Posttype Galerie */
  float:left;
  width:100%;
  background-color:var(--background_container); /* Hintergrundfarbe */
  padding:30px;
  margin-bottom: 15px;
  border:1px solid var(--bordercolor_normal); /* Rahmenfarbe */
}
.container-posts-galerie { /* Container der Beiträge Posttyp Galerie */
  display: grid; /* Gitter(Tabellen) aktivieren */
  gap: 15px; /* Abstand zwischen den Zellen */
  grid-template-columns: 1fr 1fr 1fr; /* Groeße der Zellen */
}

.content-title-galerie { /*Überschrift Posttyps Galerie */
  text-align: center;
  color:var(--fontcolor_normal);
  font:35px "Open Sans",Arial;
}
.content-title-galerie h1 { /* Überschrift des Beitrags Posttyps Galerie */
  margin: 0;
  font-size: 35px;
}
.content-title-galerie a { /* Posttyps Galerie */
  color:var(--fontcolor_light);
  font:20px "Open Sans",Arial;
  font-weight: 300;
}
.content-title-galerie a:hover { /* Posttyps Galerie */
  text-decoration: underline; /* Unterstreichen der Links */
}
.content-title-galerie-subtext {
  margin-top: 5px;
  font-size: 13px;
  color:var(--fontcolor_light);
  margin-bottom: 30px;
}
/*----------------- Mobile -----------------------------*/
@media screen and (max-width: 880px) {
  .container-posts-galerie { /* Container der Beiträge Posttyp Galerie */
    gap: 10px !important; /* Abstand zwischen den Zellen */
    grid-template-columns: 1fr 1fr !important; /* Groeße der Zellen */
  }
}