/* custom_recent_posts.css v1.0 | by Raychan | https://github.com/Raychan87/FotoTechnik-Blog */

.fototechnik-blog-container-recent-posts { /* Widget Container */
    
}
.fototechnik-blog-recent-post-post { /* Einzelner Beitrag */
    text-align: left;
}
.fototechnik-blog-recent-post-thumb img { /* Beitragsbild */
    max-width: 100%;
}
.fototechnik-blog-recent-post-text a{ /* Beitragstitel */
    font-size: 15px;
    color: var(--fontcolor_normal);
    font-weight: 300;
}
.fototechnik-blog-recent-post-date{ /* Beitragsdatum */

}
.fototechnik-blog-recent-post-comments{ /* Beitragskommentare */

}