/*! custom_content.css v1.0 | by Raychan | https://github.com/Raychan87/FotoTechnik-Blog */
@media screen and (min-width: 720px) {
  .container-article {
    float:left;
    width:78%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container-article-galerie { /* Artikel Posttype Galerie */
  float:left;
  width:100%;
  background-color:var(--background_container); /* Hintergrundfarbe */
  padding:30px;
  margin-bottom: 15px;
  border:1px solid var(--bordercolor_normal); /* Rahmenfarbe */
}
.container-posts-galerie { /* Container der Beiträge Posttyp Galerie */
  display: grid; /* Gitter(Tabellen) aktivieren */
  gap: 15px; /* Abstand zwischen den Zellen */
  grid-template-columns: 1fr 1fr 1fr; /* Groeße der Zellen */
}
@media screen and (max-width: 720px) {
  .container-posts-galerie { /* Container der Beiträge Posttyp Galerie */
    gap: 10px !important; /* Abstand zwischen den Zellen */
    grid-template-columns: 1fr 1fr !important; /* Groeße der Zellen */
  }
}
.content-post { /* Container des Beitrags */
  background-color:var(--background_container); /* Hintergrundfarbe */
  padding:30px 15px 15px;
  border:1px solid var(--bordercolor_normal); /* Rahmenfarbe */
  margin-bottom: 15px; /* Artikel Abstand */
}
.content-thumb { /* Container des Beitragsbild */
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
.content-thumb img { /* Beitragsbild */
  border-style: solid;
  border-width: 2px;
  border-color: var(--bordercolor_images);
}
.content-title { /* Überschrift des Beitrags */
  margin-bottom: 10px;
  text-align: center;
  margin-top: 0;
}
.content-title h1 { /* Überschrift des Beitrags */
  margin-top: 0;
}
.content-title a {
  color:var(--fontcolor_normal);
  font:35px "Open Sans",Arial;
}
.content-title a:hover { 
  text-decoration: underline; /* Unterstreichen der Links */
}
.content-title-galerie { /*Überschrift Posttyps Galerie */
  text-align: center;
  color:var(--fontcolor_normal);
  font:35px "Open Sans",Arial;
}
.content-title-galerie h1 { /* Überschrift des Beitrags Posttyps Galerie */
  margin: 0;
  font-size: 35px;
}
.content-title-galerie a { /* Posttyps Galerie */
  color:var(--fontcolor_light);
  font:20px "Open Sans",Arial;
  font-weight: 300;
}
.content-title-galerie a:hover { /* Posttyps Galerie */
  text-decoration: underline; /* Unterstreichen der Links */
}
.content-title-galerie-subtext {
  margin-top: 5px;
  font-size: 13px;
  color:var(--fontcolor_light);
  margin-bottom: 30px;
}
.content-single-title h1 { /* Überschrift des Beitrags (Single) */
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
.content-text { /* Inhalt des Beitrags */
  font-style: italic;
  text-align: center;
  padding: 0 35px;
}
.content-single-text {
  margin: 20px 5px;
}
.content-date { /* Datum des Beitrags */
  color: var(--fontcolor_light);
  font-style: italic;
  text-align: center;
}
.content-author { /* Name des Authors im Beitrag */
  text-transform: uppercase; /*Text in Großbuchstaben umwandeln */
  font-style: normal;
  color:var(--fontcolor_normal);
}
.content-footer { /* Container der Kategorie, Schlagwoerter und des "Bearbeiten" Button */
  text-align: left;
  font-style: italic;
}
.content-categories { /* Kategorie Links */
  padding-bottom: 10px;
  font-style: italic;
  text-align: center;
}
.content-single-categories a { /* Kategorie Links */
  padding-left: 10px;
  font-style: italic;
}
.content-single-tags { /* Schlagwoerter Links */
  margin-top: 8px;
}
.content-single-tags a { /* Schlagwoerter Links */
  padding-left: 10px;
  font-style: italic;
}
.content-list-type { /* Kategorie und Schlagwoerter Überschrift */
  opacity: .5;
}
.content-edit a { /* "Bearbeiten"-Button */
  margin-top: 8px;
  padding: 0 4px;
  border: 1px solid; /* Rahmen */
  display: inline-block;
  text-align: center;
}
.content-edit a:hover { /* "Bearbeiten"-Button */
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.253);
  transition: .25s; /* Die Zeit der Makierung des Reiters */
}
.content-readmore {
  text-align: center;
}
.content-readmore a { /* "Weiterlesen..."-Button */
  padding: 10px 20px; /* Rahmen Abstand */
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid; /* Rahmen */
  display: inline-block;
}
.content-readmore a:hover { /* "Weiterlesen..."-Button */
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.253);
  transition: .25s; /* Die Zeit der Makierung des Reiters */
}