/* custom_recent_posts.css v1.0 | by Raychan | https://github.com/Raychan87/FotoTechnik-Blog */
.fototechnik-blog-recent-post-text { /* Container des Beitragstitel */
    padding-bottom: 5px;
    margin: 0;
}
.fototechnik-blog-recent-post-text a { /* Beitragstitel */
    color: var(--fontcolor_normal);
    font-size: 15px;
    font-weight: 300;
}
.fototechnik-blog-recent-post-container {
    display: grid; /* Gitter(Tabellen) aktivieren */
    gap: 5px; /* Abstand zwischen den Zellen */
    grid-template-columns: 1fr 1fr; /* Groeße der Zellen */
    align-items: center; 
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-bottom: 8px;
}
.fototechnik-blog-recent-post-thumb img { /* Beitragsbild */
    max-width: 100%;
}
.fototechnik-blog-recent-post-date-comments { /* Beitragsdatum */
    font-style: italic;
    font-style: 12px;
    color: var(--fontcolor_light);
}
.fototechnik-blog-recent-post-date-comments a { /* Beitragsdatum */
    font-style: italic;
    font-style: 12px;
    color: var(--fontcolor_light);
}
