/*! custom_content.css v1.0 | by Raychan | https://github.com/Raychan87/FotoTechnik-Blog */

  article { /* Beitragsseite */
    margin-bottom: 15px; /* Artikel Abstand */
  }
  @media screen and (min-width: 720px) {
      .container-article {
      float:left;
      width:80%;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .content-post { /* Container des Beitrags */
    background-color:rgba(247, 247, 247, 0.507); /* Hintergrundfarbe */
    padding:30px 15px 15px;
    border:1px solid #a1a1a1; /* Rahmenfarbe */
  }
  .content-thumb img { /* Beitragsbild */
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    margin-left: 40px;
    margin-right: 40px;
  }
  @media screen and (max-width:1170px ){
    .content-thumb img { /* Beitragsbild */
      margin: 0;
      width: 100%;
    }
  }
  .content-title { /* Überschrift des Beitrags */
    margin-bottom: 10px;
    text-align: center;
    margin-top: 0px;
  }
  .content-title h1 { /* Überschrift des Beitrags */
    margin-top: 0px;
  }
  .content-title a {
    color:#000;
    font-size: 35px;
    font-family: "Open Sans";
  }
  .content-title a:hover { /* Kategorie Links */
    text-decoration: underline; /* Unterstreichen der Links */
  }
  .content-single-title h1 { /* Überschrift des Beitrags (Single) */
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  .content-text { /* Inhalt des Beitrags */
    font-style: italic;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
  }
  .content-single-text {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .content-date { /* Datum des Beitrags */
    color: #808080cc;
    font-style: italic;
    text-align: center;
  }
  .content-author { /* Name des Authors im Beitrag */
    text-transform: uppercase; /*Text in Großbuchstaben umwandeln */
    font-style: normal;
    color:#000;
  }
  .content-footer { /* Container der Kategorie, Schlagwörter und des "Bearbeiten" Button */
    text-align: left;
    font-style: italic;
  }
  .content-categories { /* Kategorie Links */
    padding-bottom: 10px;
    font-style: italic;
    text-align: center;
  }
  .content-single-categories a { /* Kategorie Links */
    padding-left: 10px;
    font-style: italic;
  }
  .content-single-tags { /* Schlagwörter Links */
    margin-top: 8px;
  }
  .content-single-tags a { /* Schlagwörter Links */
    padding-left: 10px;
    font-style: italic;
  }
  .content-list-type { /* Kategorie und Schlagwörter Überschrift */
    opacity: .5;
  }
  .content-edit a { /* "Bearbeiten"-Button */
    margin-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid; /* Rahmen */
    display: inline-block;
    text-align: center;
  }
  .content-edit a:hover { /* "Bearbeiten"-Button */
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.253);
    transition: .25s; /* Die Zeit der Makierung des Reiters */
  }
  .content-readmore {
    text-align: center;
  }
  .content-readmore a { /* "Weiterlesen..."-Button */
    padding: 10px 20px; /* Rahmen Abstand */
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid; /* Rahmen */
    display: inline-block;
  }
  .content-readmore a:hover { /* "Weiterlesen..."-Button */
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.253);
    transition: .25s; /* Die Zeit der Makierung des Reiters */
  }
  .content-single-next { /* Nächster Beitrag und letzter Beitrag Button */

  }