/*! custom_comment.css v1.0 | by Raychan | https://github.com/Raychan87/FotoTechnik-Blog */
.comment-list{ /* Container der Kommentarliste */
  list-style: none; /* Deaktiviert die Listenpunkte */
  border:1px solid var(--bordercolor_normal); /* Rahmenfarbe */
  background-color:var(--background_container); /* Hintergrundfarbe */
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.comment-title{ /* Kommentarbereichs Überschrift */
  margin-left:  15px;
  margin-right: 15px;  
  margin-top: 10px;
  color: var(--fontcolor_normal);
}
.comment-single { /* Einzelnes Kommentarfeld */
  border-top:1px solid var(--bordercolor_light); /* Rahmenfarbe */
  color: var(--fontcolor_normal);
  padding:15px 5px 5px;
  /* top, right, bottom, left */
  margin:15px 15px 0;
}
.children { /* Vor dem Antwortfeld im Kommentarbereich */
  list-style: none; /* Deaktiviert die Listenpunkte */
  margin-bottom: 0;
}
.comment-author{ /* Authorsname */
  margin-top: 0;
  font-size: 14px;
  font-family: 'Open Sans Light Bold';
  color: var(--fontcolor_normal);
}
.comment-author a { /* Authorname Verlinkung */
  text-decoration: none; /* Unterstreichen der Links deaktivieren */
  pointer-events: none;
  cursor: default;
  color:var(--fontcolor_normal);
  font-family: 'Open Sans Light Bold';
}
.comment-date-time{ /* Text vom Datum und Zeit */
  font-style: italic;
  font-size: 11px;
  color: var(--fontcolor_light);
}
.comment-reply-button a { /* "Antworten"- Button */
  padding: 10px 20px; /* Rahmen Abstand */
  border: 1px solid; /* Rahmen */
  display: inline-block;
}
.comment-reply-button a:hover { /* "Antworten"- Button */
  box-shadow:0 1px 2px var(--bordercolor_shadow);
  transition: .25s; /* Die Zeit der Makierung des Reiters */
}
.container-comment { /* Container des Kommentar Eingabefeldes */
  list-style: none; /* Deaktiviert die Listenpunkte */
  border: 1px solid var(--bordercolor_normal); /* Rahmenfarbe */
  background-color:var(--background_container); /* Hintergrundfarbe */
  color: var(--fontcolor_normal);
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.container-comment h2 { /* Kommentar Überschrift */
  margin-left: 15px;
  margin-top: 5px;
}
.comment-form { 
  margin-left: 15px;
  margin-right: 15px;
}
.comment-notes-after-text, /* Text hinter den Formular */
.logged-in-as { /* "Angemeldet als .. " Text */
  font-style: italic;
  font-size: 12px;
  color: var(--fontcolor_light);
}
.logged-in-as a { /* "Abmelden" Button */
  font-style: normal;
}
.comment-form textarea { /* Kommentar Eingabefeld */
  width: 100%; /* die Breite der Elemente */
  border: 1px solid var(--bordercolor_normal); /* Rahmenfarbe */
}
.comment-form input[type=text], /* Das Kommentator Eingabefeld */
.comment-form input[type=email], /* Das E-Mail Eingabefeld */ 
.comment-form input[type=url] { /* Das URL Eingabefeld */
  border:1px solid var(--bordercolor_light); /* Rahmenfarbe */
  box-shadow: inset 0 1px 3px var(--bordercolor_shadow); /* Schatten vom Feld Rand nach innen */
  margin:.2em 0 1em;
  width: 50%; /* die Breite der Elemente */
}
.comment-form input[type=submit] { /* Kommentar "abschicken" Button */
  padding: 10px 20px; /* Rahmen Abstand */
  border: 1px solid; /* Rahmen */
  display: inline-block;
  cursor: pointer;
  color: var(--fontcolor_link); /* Schriftfarbe */
  border-color: var(--bordercolor_link); 
  background-color: var(--background_container);
}
.comment-form input[type=submit]:hover { /* Kommentar "abschicken" Button */
  color: var(--fontcolor_linkhover);
  border-color:  var(--bordercolor_linkhover); /* Rahmen Farbe */
  text-decoration: none; /* Unterstreichen der Links */
  box-shadow:0 1px 2px var(--bordercolor_shadow);
  transition: .25s; /* Die Zeit der Makierung des Reiters */
}
/*----------------- Mobile -----------------------------*/
@media screen and (max-width: 880px) {
  .comment-form input[type=text], /* Das Kommentator Eingabefeld */
  .comment-form input[type=email], /* Das E-Mail Eingabefeld */ 
  .comment-form input[type=url] { /* Das URL Eingabefeld */
    width: 80%; /* die Breite der Elemente */
  }
  .comment-notes-after-text{ /* Text hinter den Formular */
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .comment-form input[type=submit] { /* Kommentar "abschicken" Button */
    margin-bottom: 15px;
  }
  .comment-reply-button a { /* "Antworten"- Button */
    margin-top: 15px;
    margin-bottom: 5px;
  }
}